.block {
  border: 2px solid rgb(218, 223, 227);
  border-radius: 5px;
}

.h6 {
  margin-top: 5px;
  margin-left: 20px;
}

.date {
  font-size: 10px;
}

.close {
  position: absolute;
  right: 10px;
  top: 15px;
  cursor: pointer;
}
